node_modules/

src/
tsconfig.json

inputs/
outputs/
samples/

**/*.test.js
**/*.test.js.map
**/*.test.d.ts

.env
.env.local
.env.development
.env.test
.env.production

.npmrc
.gitignore

.github/
.env.example
