node_modules/

src/
tsconfig.json
tsconfig.tsbuildinfo

inputs/
outputs/
samples/

**/*.test.js
**/*.test.js.map
**/*.test.d.ts
test-fixtures/
test-outputs/

.env
.env.local
.env.development
.env.test
.env.production

.npmrc
.gitignore

.github/
.env.example

tmp/
